flows.json
[
    {
        "id": "d69a7d5f76f857a3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "df33c74ad8d9efe1",
        "type": "inject",
        "z": "d69a7d5f76f857a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "f73ff10266583f32",
                "8da43507810aaec6"
            ]
        ]
    },
    {
        "id": "17ac8b510d0f1bd0",
        "type": "debug",
        "z": "d69a7d5f76f857a3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "8da43507810aaec6",
        "type": "function",
        "z": "d69a7d5f76f857a3",
        "name": "function 1",
        "func": "// Create a Data object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString()\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 420,
        "wires": [
            [
                "96f4d02696625879"
            ]
        ]
    },
    {
        "id": "f73ff10266583f32",
        "type": "http request",
        "z": "d69a7d5f76f857a3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "6d219560115fa613"
            ]
        ]
    },
    {
        "id": "6d219560115fa613",
        "type": "csv",
        "z": "d69a7d5f76f857a3",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "17ac8b510d0f1bd0",
                "aca7b3099af1ca77"
            ]
        ]
    },
    {
        "id": "aca7b3099af1ca77",
        "type": "switch",
        "z": "d69a7d5f76f857a3",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 300,
        "wires": [
            [
                "b38b41ed369bcad3"
            ]
        ]
    },
    {
        "id": "b38b41ed369bcad3",
        "type": "change",
        "z": "d69a7d5f76f857a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "1a3c1dfb18e7dec3"
            ]
        ]
    },
    {
        "id": "1a3c1dfb18e7dec3",
        "type": "debug",
        "z": "d69a7d5f76f857a3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 300,
        "wires": []
    },
    {
        "id": "96f4d02696625879",
        "type": "debug",
        "z": "d69a7d5f76f857a3",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 420,
        "wires": []
    }
]