flows.json
[
    {
        "id": "d69a7d5f76f857a3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce96849483701e17",
        "type": "ui-group",
        "name": "時間",
        "page": "cd750a434d07c2f9",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dabd75aedaf5ae24",
        "type": "ui-base",
        "name": "画面1",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "94690374823bced0",
        "type": "ui-theme",
        "name": "テーマ1",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "cd750a434d07c2f9",
        "type": "ui-page",
        "name": "情報",
        "ui": "dabd75aedaf5ae24",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "94690374823bced0",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "df33c74ad8d9efe1",
        "type": "inject",
        "z": "d69a7d5f76f857a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "ed8eb30929290c5b"
            ]
        ]
    },
    {
        "id": "1a3c1dfb18e7dec3",
        "type": "debug",
        "z": "d69a7d5f76f857a3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 300,
        "wires": []
    },
    {
        "id": "3b5c06f5dce92e0c",
        "type": "debug",
        "z": "d69a7d5f76f857a3",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "88a360dca982f8a0",
        "type": "ui-text",
        "z": "d69a7d5f76f857a3",
        "group": "ce96849483701e17",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "時間表示",
        "label": "UTC時間：",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "ed8eb30929290c5b",
        "type": "function",
        "z": "d69a7d5f76f857a3",
        "name": "function 1",
        "func": "// Unixタイムスタンプをミリ秒単位で取得 (例: 1709413618897)\nvar timestamp = msg.payload;\n\n// JavaScriptのDateオブジェクトを使用して日時に変換\nvar date = new Date(timestamp);\n\n// 日時を年月日時分秒の形式でフォーマット\nvar formattedDate = date.toISOString();\n\n// フォーマットした日時をpayloadにセット\nmsg.payload = formattedDate;\n\n// 変更したメッセージオブジェクトを次のノードに渡す\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "3b5c06f5dce92e0c",
                "88a360dca982f8a0"
            ]
        ]
    }
]